.pbclr {
    background: linear-gradient(to right, blue, rgba(0, 154, 254, 255));
}

/* for circle-progressbar */
.bgclr {
    width: 100px;
    height: 100px;
    background: conic-gradient(blue, rgba(0, 154, 254, 255) 300deg, black 0deg);
    /* transition: 1s; */
    
}

.bbgclr {
    width: 90%;
    height: 90%;
    background-color: rgb(12, 24, 38, 255);
    
}

.javaclr {
    background-image: linear-gradient(to top, blue, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.animateS #B1{
    animation: FW1 2.5s ease forwards;
}
.animateS #C1{
    animation: FC1 3s ease forwards;
}

@keyframes FW1 {
    from {
        width: 0%;
    }

    to {
        width: var(--target-width);
    }


}

@keyframes FC1 {
    0% {
        
       
        width: 0px;
    }

    100%{
      width: 100px;

    }


}